.form1{
    width: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.form1 img{
    display: flex;
    width: 500px;
    height: auto;
}

